form {
    background: #fff;
  padding: 4em 4em 2em;
  max-width: 400px;
  min-height: 300px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}

h1 {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:40px;
    color:darken(#e5e5e5, 50%);
    border-bottom:solid 1px #e5e5e5;
}

input {
    background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 92%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: blue;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid blue;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }