  <div class="container">
  <header>
    <section class="logo" routerLinkActive="active" routerLink="MainPage">
      </section>
      <header class='title' routerLinkActive="active" routerLink="MainPage">
        <h1>Vacation App</h1>
        </header>
        <ul class='list'>
            <li routerLinkActive="active" routerLink="show">Show all Vacations</li>
            <li routerLinkActive="active" routerLink="create">Add new Vacation</li>
            <li routerLinkActive="active" routerLink="newEmployee">Create new user</li>  
          </ul>
</header>
<main>
<router-outlet></router-outlet> 
</main>
</div>

